* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: rgb(13, 26, 45);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  margin: auto;
  background-color: rgb(21, 39, 63);
  border-radius: 20px;
  padding: 1rem;
  width: 45%;
}
h1 {
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin: 1rem 0;
}
.equ {
  width: 100%;
  border-radius: 10px;
}
hr {
  width: 100%;
}
.clock_img {
  width: 15px;
}
.sub_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
p {
  color: rgb(126, 126, 141);
  font-weight: 400;
}
.eth {
  color: rgb(0, 255, 248);
  display: flex;
  font-size: 15px;
}
.eth img {
  width: 10px;
  margin-right: 0.4rem;
}
.clock {
  display: flex;
  align-items: center;
}
.clock_img {
  margin-right: 0.4rem;
  color: rgb(60, 67, 78);
}
.avatar {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 15px;
}
.avatar_img {
  width: 30px;
  margin-right: 0.4rem;
}
@media (max-width: 420px) {
    body {
        width: 100%;
        font-size: 18px;
      }
  .container {
    margin: 5rem auto;
    border-radius: 10px;
    width: 80%;
  }
  h1 {
    /* font-weight: 600; */
    font-size: 30px;
    color: white;
    margin: 1rem 0;
  }
  .eth img {
    width: 10px;
    margin-right: 0.4rem;
  }
  .clock {
    display: flex;
    align-items: center;
  }
  .clock_img {
    margin-right: 0.4rem;
    color: rgb(60, 67, 78);
  }
  .avatar {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 15px;
    width: 100%;
  }
  .avatar_img {
    width: 25px;
    margin-right: 0.4rem;
  }
}
